<link rel="stylesheet" href="/css/user_profile.css">
<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100" >


<% if(user.id == profile_user.id){ %>
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
        <br>
        <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required="true">
        <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>" required="true">
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update profile">
    </form>
<% } else { %>
    <p>Name: <%= profile_user.name %></p>
    <p>Email: <%= profile_user.email %></p>
     
    <form action="/users/friend-requets/?fromUser=<%= user.id%>&toUser=<%= profile_user.id%>&friendshipId=<%= friendshipId%>" method="post">
        <% if (friendshipId) { %>
            <input type="submit"  value="Remove Friend">


        <% } else { %>
            <input type="submit"  value="Add friend">

            <% } %>

         
    </form>


<% } %>
